In [1]:
import json 
import pandas as pd

In [2]:
f = open('Data/scorecard.json',) 
data = json.load(f)

In [3]:
type(data)

dict

In [34]:
l = list(data.keys())

In [5]:
len(data.keys())

3649

In [7]:
df = pd.read_csv("Data/matches.csv")

In [8]:
df.head()

         Date Team_1 Team_2    Venue  MatchCode  GroundCode
0  2015-03-04    AFG    AUS     Away       3773          65
1  2012-08-25    AFG    AUS  Neutral       3437         156
2  2019-06-01    AFG    AUS  Neutral       4306         149
3  2014-03-01    AFG    BAN     Away       3623         190
4  2016-09-25    AFG    BAN     Away       3936         198

In [9]:
len(df)

3656

In [10]:
match_date={}
for i in l:
    match_date[i]=df.query('MatchCode==@i')['Date'].iloc[0]

In [11]:
len(match_date)

3649

### Batsmen

In [33]:
new_data={}

In [35]:
for i in l:
        if(data[i]!=None):
            for j in data[i]['BATTING1']:
                new_data.setdefault(j[0],[]).append((match_date[i],j[1:]))
            for k in data[i]['BATTING2']:
                new_data.setdefault(k[0],[]).append((match_date[i],k[1:]))

In [36]:
new_data_keys = new_data.keys()

In [37]:
for i in new_data_keys:
    l=new_data[i]
    final_list = [] 
    for num in l: 
        if num not in final_list: 
            final_list.append(num) 
    new_data[i]=final_list

In [38]:
len(new_data)

2099

In [17]:
new_data['3773']

[('2010-03-13',
  ['c â€ Haddin b  Johnson', 6.0, 7.0, 1.0, 0.0, 85.71, 0.024900000000000002]),
 ('2010-10-11',
  ['lbw b  Suhrawadi Shuvo', 14.0, 34.0, 1.0, 0.0, 41.18, 0.0809])]

In [50]:
len(new_data)

2036

In [39]:
with open('Data/batsmen.json', 'w') as fp:
    json.dump(new_data, fp, indent=4)

In [54]:
l = list(data.keys())

### Bowlers

In [27]:
for i in l:
        if(data[i]!=None):
            for j in data[i]['BOWLING1']:
                new_data.setdefault(j[0],[]).append((match_date[i],j[1:]))
            for k in data[i]['BOWLING2']:
                new_data.setdefault(k[0],[]).append((match_date[i],k[1:]))

In [28]:
new_data_keys = new_data.keys()

In [29]:
for i in new_data_keys:
    l=new_data[i]
    final_list = [] 
    for num in l: 
        if num not in final_list: 
            final_list.append(num) 
    new_data[i]=final_list

In [30]:
len(new_data)

1616

In [32]:
with open('Data/bowlers.json', 'w') as fp:
    json.dump(new_data, fp, indent=4)

In [60]:
len(new_data)

2132

### Combined (Players)

In [61]:
f = open('batsmen.json',) 
  

bat = json.load(f)

In [62]:
f = open('bowler.json',) 
  

bowl = json.load(f)

In [63]:
new_data={}

In [64]:
k = bat.keys()

In [65]:
j = bowl.keys()

In [66]:
for i in k:
    new_data[i]={}
    new_data[i]['BATTING']=bat[i]
    new_data[i]['BOWLING']=[]

In [67]:
for i in j:
    if(i not in k):
        new_data[i]={}
        new_data[i]['BATTING']=[]
        new_data[i]['BOWLING']=bowl[i]
    else:
        new_data[i]['BOWLING']=bowl[i]

In [ ]:
#new_data

In [68]:
with open('allplayers.json', 'w') as fp:
    json.dump(new_data, fp)